.page-header {
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
  }
}

.page-header__logo {
  margin-right: 93px;
  &--primary {
    color: var(--secondary-text-color);
  }
}

.page-header__contacts {
  margin-left: auto;
}
