.page-footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    margin-bottom: 20px;
    &--secondary {
      color: var(--accent-text-color);
    }
  }
  &__list {
    display: flex;
    align-items: baseline;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__social-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--accent-text-color);
  }
}

.page-footer__item {
  &:not(:last-child) {
    margin-right: 70px;
  }
  &:last-child {
    margin-left: auto;
  }
}
